*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #eafaf1;
    font-family:"Noto Sans JP", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}

/* MENU */

nav{
    width: 100vw;
    height: 10vh;
    align-content: center;
    justify-items: center;
    background-color: #1ea57f;
    position: fixed;
    top: 0;
    overflow: hidden;
    animation: menu_display  both;
    animation-timeline: scroll(root); /* ANIMACION CON SCROLL DE PANTALLA*/
}

nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 14px;
}

nav ul li .fa-solid{
    align-items: center;
    margin-left: 5px;
    font-size: 14px;
}


/* HEADER */

header{
    width: 60%;
    height: 200vh;
    padding: 20px;
    margin: 5% auto;
}


header h1{
    font-size: 24px;
    font-weight: 600;
}

header .portada{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr max-content;
}

header .portada img{
    width: 300px;
}

header .contribucion{
    align-content: end;
}

header .portada p, header .portada hr{
    font-size: 12px;
    width: 90%;
}


/* DESARROLLO */

header .desarrollo p{
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
}

header .desarrollo img{
    width: 70%;
    margin: 0 calc(50% - 35%) ;
}

header .desarrollo ol{
    font-size: 14px;
    width: 90%;
    margin: 15px auto;
}

header .desarrollo ol li{
    margin: 10px;
}

header .desarrollo mark{
    background-color: #aed6f1 ;
}

/* ANIMACIONES */


/* MENU "nav" */
@keyframes menu_display{
    30%, 100%{
        height: 6vh;
    }
}


/* MEDIA QUERY RESPONSIVE*/

@media (width < 599px) {
    header{
        width: 90%;
    }
}
